<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	<script src="stages/stage<%=@stage%>.js"></script>
	<script src="engine.js"></script>
	<script src="events.js"></script>

	<script>
		let str = JSON.stringify("<%=@replay%>").replace('"','').replace(/&quot;/g,'"');
		str = str.substring(0,str.length-1);
		input(str, <%= @spectate %>, <%= @follow %>);</script>
	<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color:  #FF69B4 ;
		position: fixed;
		top: 10px;
		float: left;
		border: 2px solid #fefefe;
	}

	p {
		font-family: sans-serif;
		color: white;
		font-weight: bold;
	}

	li {
		float:left;
	}

	li a {
        text-shadow: 2px 2px black;
		font-size: large;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color:  #cc5490 ;
	}

	.paddingForNavigation{
		padding-left: 10%;
		padding-top: 20px;

	}

	.currentUser {
  		text-shadow: 2px 2px black;
		border: 2px solid white;
		background-color:  #FF69B4 ;
		width: 20%;
		text-align: center;
		float: right;
		margin-right: 15%;
	 }

	.background {
		background: url("/game.jpg") no-repeat center fixed;
		background-size: cover;
	}

	div.game_container {
		width: 600px;
		height: 600px;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	</style>
</head>
<body class="background">
	<div class = "paddingForNavigation">
		<ul>
			<li><a href="/profile" >Campaign</a></li>
			<li><a href="/replays?page=1"> Replays</a></li>
      		<li><a href="/highscores?page=1"> Hi-Scores</a></li>
			<li><a>Coop</a></li>
			<li><a href="/driveauth">Connect Drive</a></li>
			<li><a href="/logout">Log Out</a></li>
		</ul>
	</div>
	<div class="currentUser">
	     <p><%= @user.username %></p>
	</div>
	<div class="game_container" id="game-container">
	</div>
</body>
</html>
